@use "../variables/" as v;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

h1 {
  font-family: "DM Serif Display", Arial, Helvetica, sans-serif;
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 0.95;
  color: var(--Whiteish-Gray);

  @include v.breakpoint(medium) {
    font-size: 3.5rem;
  }

  @include v.breakpoint(small) {
    font-size: 2.875rem;
  }
}

h2 {
  font-family: "DM Serif Display", Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--Dark-Gray);
}

p {
  font-size: 1rem;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--Medium-Gray);
  line-height: 1.6;
}

li {
  list-style: none;
  font-size: 1rem;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.06rem;
  color: var(--Medium-Gray);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--Dark-Gray);
  }
}

a {
  text-decoration: none;
}

button {
  font-size: 1rem;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.06rem;
  color: var(--Dark-Gray);
  border: 0.1rem solid var(--Dark-Gray);
  background: none;
  padding: 0.75rem 1.75rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
