$breakpoints-down: (
  "small": 37.5em,
  "medium": 56.25em,
  "large": 75em,
  "xlarge": 81.25em,
);

@mixin breakpoint($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
