:root {
  // Primary colors
--Dark-Blue: hsl(256, 26%, 20%);
--Light-Blue: hsl(216, 30%, 68%);

// Neutral colors
--Dark-Gray: hsl(270, 9%, 17%);
--Medium-Gray: hsl(273, 4%, 51%);
--Whiteish-Gray: hsl(0, 0%, 98%);
}